.todo_input {
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 15px;

  padding-left: 20px;
  padding-right: 35px;
  color: black;
  border-radius: 41px;
  background: #e386fd;
  box-shadow: 13px 13px 26px #cc79e4, -13px -13px 26px #fa93ff;
  border-radius: 20px;
}
.button_main {
  margin: 0;
  padding: 0;
  font-size: 35px;
  position: relative;
  color: rgb(40, 139, 143);
  /* left: -30px;
  bottom: 0; */
  left: -40px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  text-shadow: -4px -3px 4px rgba(248, 164, 255, 1),
    5px 3px 8px rgba(121, 96, 124, 1);
}
form {
  min-width: 40%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e386fd;
  box-shadow: 13px 13px 26px #cc79e4, -13px -13px 26px #fa93ff;
  border-radius: 20px;
  padding: 10px 0px;
}
