@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

.todo_list {
  display: flex;
  /* justify-content: space-evenly;
  align-items: center; */
  border-radius: 32px;
  background: #e386fd;
  box-shadow: 13px 13px 26px #cc79e4, -13px -13px 26px #fa93ff;

  margin: 25px 10px;
  border-radius: 16px;
  min-width: 40%;
  min-height: 60px;
  transition: all 2s ease-in;
}

.deleteIcon {
  color: rgb(212, 48, 37);
  margin: 0px 15px;
  cursor: pointer;
  border-radius: 32px;
  border-radius: 50%;
  background: linear-gradient(145deg, #cc79e4, #f38fff);
  box-shadow: 21px 21px 42px #cc79e4, -21px -21px 42px #fa93ff;
}
.updateIcon {
  color: rgb(32, 187, 79);
  margin: 0px 15px;
  cursor: pointer;
  border-radius: 32px;
  border-radius: 50%;
  background: linear-gradient(145deg, #cc79e4, #f38fff);
  box-shadow: 21px 21px 42px #cc79e4, -21px -21px 42px #fa93ff;
}

.todoTask {
  font-family: 'Oswald', sans-serif;
  color: rgb(77, 72, 9);
  flex: 2;
  text-align: center;
}
.deleteIcon,
.updateIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
}
.deleteIconp,
.updateIconp {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
