@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&family=Oi&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  font-family: 'Lobster', cursive;
  color: rgb(39, 104, 121);
  letter-spacing: 2px;
  font-size: 40px;
  margin: 30px;
}
